In [9]:
import pandas as pd


pokemons = pd.read_csv('All_Pokemon.csv', sep=',', index_col="Number")

df = pd.DataFrame(pokemons, columns=["Name", "Generation", "Type 1", "Type 2", "Height", "Weight", "BMI"])
                  

types= df.groupby(by=["Type 1","Type 2"]).count()

types_1=(df.groupby(['Type 1','Type 2']).size() 
   .sort_values(ascending=False) 
   .reset_index(name='count') 
 )
types_1.sort_values(by=['Type 1','Type 2','count'],ascending=True)

df[df["Type 1"]==""]

Empty DataFrame
Columns: [Name, Generation, Type 1, Type 2, Height, Weight, BMI]
Index: []

In [62]:
types_2= types_1.copy()
maxima = types_1.groupby('Type 1')['count'].max()
types_2['max'] = types_2['Type 1'].map(maxima)
Dominant_Types=types_2[types_2["count"]==types_2["max"]][["Type 1", "Type 2","max"]]
Dominant_Types.sort_values(by=['Type 1','Type 2','max'],ascending=True,inplace=True)
Dominant_Types

       Type 1    Type 2  max
2         Bug    Flying   14
22       Dark    Flying    6
13     Dragon    Ground    7
16   Electric    Flying    6
103     Fairy    Flying    2
75   Fighting   Psychic    3
76   Fighting     Steel    3
11       Fire  Fighting    7
9        Fire    Flying    7
113    Flying    Dragon    2
4       Ghost     Grass   11
1       Grass    Poison   15
46     Ground    Flying    4
47     Ground     Ghost    4
38     Ground     Steel    4
35        Ice   Psychic    4
0      Normal    Flying   27
27     Poison      Dark    5
6     Psychic     Fairy    9
21       Rock    Flying    6
20       Rock    Ground    6
17       Rock     Water    6
12      Steel   Psychic    7
5       Water    Ground   10

In [58]:
maxima = types_1.groupby('Type 1')['count'].max()
dominant=types_1[types_1["count"]==types_1['Type 1'].map(maxima)]
dominant

       Type 1    Type 2  count
0      Normal    Flying     27
1       Grass    Poison     15
2         Bug    Flying     14
4       Ghost     Grass     11
5       Water    Ground     10
6     Psychic     Fairy      9
9        Fire    Flying      7
11       Fire  Fighting      7
12      Steel   Psychic      7
13     Dragon    Ground      7
16   Electric    Flying      6
17       Rock     Water      6
20       Rock    Ground      6
21       Rock    Flying      6
22       Dark    Flying      6
27     Poison      Dark      5
35        Ice   Psychic      4
38     Ground     Steel      4
46     Ground    Flying      4
47     Ground     Ghost      4
75   Fighting   Psychic      3
76   Fighting     Steel      3
103     Fairy    Flying      2
113    Flying    Dragon      2

In [19]:
pokemons

,Name,Type 1,Type 2,Abilities,HP,Att,Def,Spa,Spd,Spe,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
Number,,,,,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",45,49,49,65,65,45,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.7,6.9,14.1
2,Ivysaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",60,62,63,80,80,60,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,13.0,13.0
3,Venusaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",80,82,83,100,100,80,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,2.0,100.0,25.0
3,Mega Venusaur,Grass,Poison,['Thick Fat'],80,100,123,122,120,80,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,2.4,155.5,27.0
4,Charmander,Fire,NaN,"['Blaze', 'Solar Power']",39,52,43,60,50,65,...,0.5,2.0,1.0,1.0,1.0,0.5,0.5,0.6,8.5,23.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,Glastrier,Ice,NaN,['Chilling Neigh'],100,145,130,65,110,30,...,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.2,800.0,165.3
897,Spectrier,Ghost,NaN,['Grim Neigh'],100,65,60,145,80,130,...,0.5,1.0,2.0,1.0,2.0,1.0,1.0,2.0,44.5,11.1
898,Calyrex,Psychic,Grass,['Unnerve'],100,80,80,80,80,80,...,4.0,1.0,2.0,1.0,2.0,1.0,1.0,1.1,7.7,6.4
898,Calyrex Ice Rider,Psychic,Ice,['As One'],100,165,150,85,130,50,...,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.4,809.1,140.5
898,Calyrex Shadow Rider,Psychic,Ghost,['As One'],100,85,80,165,100,150,...,1.0,1.0,4.0,1.0,4.0,1.0,1.0,2.4,53.6,9.3

In [42]:
maxima = df.groupby('Type 1')['BMI'].max()
new_df=df[df["BMI"]==df['Type 1'].map(maxima)]
new_df

        number    Type 1  Type 2  nunique  Height  Weight      BMI
Number
302        NaN      Dark   Ghost      NaN     0.5   161.0    644.0
304        NaN     Steel    Rock      NaN     0.4    60.0    375.0
324        NaN      Fire     NaN      NaN     0.5    80.4    321.6
331        NaN     Grass     NaN      NaN     0.4    51.3    320.6
366        NaN     Water     NaN      NaN     0.4    52.5    328.1
371        NaN    Dragon     NaN      NaN     0.6    42.1    116.9
434        NaN    Poison    Dark      NaN     0.4    19.2    120.0
446        NaN    Normal     NaN      NaN     0.6   105.0    291.7
632        NaN       Bug   Steel      NaN     0.3    33.0    366.7
750        NaN    Ground     NaN      NaN     2.5   920.0    147.2
769        NaN     Ghost  Ground      NaN     0.5    70.0    280.0
774        NaN      Rock  Flying      NaN     0.3    40.0    444.4
790        NaN   Psychic     NaN      NaN     0.1   999.9  99990.0
821        NaN    Flying     NaN      NaN     0.2     1.8     45.0
835        NaN  Electric     NaN      NaN     0.3    13.5    150.0
865        NaN  Fighting     NaN      NaN     0.8   117.0    182.8
888        NaN     Fairy   Steel      NaN     2.8   355.0     45.3
896        NaN       Ice     NaN      NaN     2.2   800.0    165.3

In [12]:
types_ByGeneration = (df.copy().groupby(['Type 1', 'Type 2','Generation']).size()
         .sort_values(ascending=False)
         .reset_index(name='count'))
types_ByGeneration

     Type 1    Type 2  Generation  count
0     Ghost     Grass         6.0     10
1     Grass    Poison         1.0      9
2    Normal    Flying         1.0      8
3       Bug    Poison         1.0      5
4    Normal    Flying         5.0      5
..      ...       ...         ...    ...
317   Ghost    Poison         6.0      1
318   Grass    Dragon         6.0      1
319   Grass    Dragon         7.0      1
320   Grass  Fighting         3.0      1
321   Water     Steel         4.0      1

[322 rows x 4 columns]